@import "/styles/footer.css";
@import "/styles/project.css";
@import "/styles/services.css";
@import "/styles/contacts.css";
@import "/styles/header.css";
@import "/styles/gallery.css";
@import "/styles/about_us.css";
@import "/styles/interior.css";
@import "/styles/headings.css";
@import "/styles/buttons.css";
@import "/styles/reviews.css";
@import "/styles/popup.css";

html {
    scroll-behavior: smooth;
}

main {
    background-color: #FFF;
}

.container-black {
    background-color: #000;
}

section,
.container {
    margin: 0 auto;
}
.container {
    width: 1150px;
}

body {
    font-family: "Manrope", sans-serif;
    width: 100%;
    font-weight: 400;
    background: #FFF;
    letter-spacing: -0.03cm;
}

section {  
    padding-top: 150px;
    width: 1150px;
}

.section-long {
    padding-bottom: 150px;
}

.section-gallery {
    width: 100%;
}

.section-full {
    width: 100%;
}
.section-nopadd {
    padding: 0;
}

@media (max-width: 1199px) {
    section,
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 17px;
    }
    .section {
        padding-top: 120px;
    }
}
@media (max-width: 767px) {
    section,
    .container {
        padding-right: 12px;
        padding-left: 13px;
    }
    section {
        padding-top: 80px;
    }
    section:first-child {
        padding-top: 60px;
    }
}
.Phone-before:before {
    margin-bottom: 12px;
    margin-left: -5px;
    width: 24px;
    height: 24px;
}